.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-top: -71px;
  margin-bottom: 15px;
  margin-left: 222px;
  width: 500px;
  background: #ffffff;
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

.form_pad {
  padding-bottom: 20px;
}

.signup_img {
  background: url("../images/runny_dog.gif") no-repeat;
  background-size: 800px;
  background-position-x: -40px;
  width: 1100px;
  height: 500px;
}

.login_img {
  background: url("../images/login_dog.gif") no-repeat;
  background-size: 600px;
  background-position-x: -80px;
  width: 1100px;
  height: 386px;
}

.msg_pad {
  text-align: right;
}
