body {
  max-width: 1100px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.jumbo {
  background: url("../images/screen.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  height: 200px;
  position: relative;
  z-index: -2;
  opacity: 0.7;
}
.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.navbar {
  background-color: white;
  text-align: right;
}
a,
.navbar-brand,
.navbar-nav .nav-link {
  color: black;
  text-decoration: none;
}
a:hover,
.navbar-brand,
.navbar-nav .nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.logo {
  display: inline-block;
  background-image: url("../images/petspot.png");
  background-repeat: no-repeat;
  background-size: 300px;
  width: 300px;
  height: 60px;
  overflow: hidden;
  text-indent: -9999px;
}
.item_pad {
  padding-right: 10px;
}

.image-container {
  width: 240px;
  height: 250px;
}

.sep {
  padding-bottom: 50px;
  padding-left: 70px;
}

.img_pet {
  margin-top: 5px;
}
