.custom_text {
  font-family: "Quicksand", sans-serif;
  letter-spacing: -2px;
  text-align: center;
  display: block;
  margin: 11px 0 17px 0;
  font-size: 50px;
  line-height: 80px;
  color: #10b2e7;
}

.filter_text {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #3a2f5e;
}
